<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
</head>
<body>
	<input type="text" id="id" placeholder="ID" />
	<input type="password" id="pwd" placeholder="password" />
	<button type="button" onclick="login();">로그인</button>
	<br>
	<button type="button" onclick="getAlarmList();">알람 조회</button>
</body>
<script>
	
	function login(){
		let id = document.getElementById("id").value;
		let pwd = document.getElementById("pwd").value;
		
		console.log('id&pwd: ', id + pwd);
		
		fetch("http://localhost:8090/login?id="+ id +"&password=" + pwd,{
			method : "POST",
		})
		.then(function(body) {
			return body.json();
		})
		.then(function(data) {
			alert(data.message);
		})
		.catch((error) => {
		    console.error('Error:', error);
		});
	}

	function getAlarmList() {
		fetch("http://localhost:8090/api/user/alarm/request/list", {
			method : "GET"
		}).then(function(body) {
			return body.text();
		}).then(function(data) {
			sse();
		})
	}

	function sse() {
		const jwtToken = getCookie('JWT_TOKEN');
		console.log('token: ', jwtToken)
		const eventSource = new EventSource('/api/user/alarm/response/list');

		eventSource.onopen = function(event) {
			console.log('SSE 연결이 열렸습니다.');
		};

		eventSource.onmessage = function(event) {
			console.log('받은 메시지:', event.data);
		};

		eventSource.onerror = function(event) {
			if (event.eventPhase === EventSource.CLOSED) {
				console.error('SSE 연결이 닫혔습니다.');
			} else {
				console.error('SSE 연결 중 오류 발생:', event);
			}
			eventSource.close();
		};
	}

	function getCookie(name) {
		const value = `; ${document.cookie}`;
		const parts = value.split(`; ${name}=`);
		if (parts.length === 2)
			return parts.pop().split(';').shift();
	}
</script>